<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
<div class="backdrop"></div>
<header class="main-header">
  <button class="btn" id="side-menu-toggle">Menu</button>
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <a class="<%= path === '/' ? 'active' : '' %>" href="/">Shop</a>
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/products' ? 'active' : '' %>" href="/products">Products</a>
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">Orders</a>
      </li>
      <li class="main-header__item" <% if (isAdmin != 1){%>hidden<%} %>>
        <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Product </a>
      </li>
      <li class="main-header__item" <% if (isAdmin != 1){%>hidden<%} %>>
        <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Products</a>
      </li>
      <div class="search-container">
        <input id="srchbox" type="text" name="search" placeholder="Search..." class="search-input">
        <a id="srchbtn" class="search-btn">
                <i class="fas fa-search"></i>      
        </a>
    </div>
    <div class="main-header__item" id="name-box">
      Hello <%= name %>!
  </div>
    <div id="logout-box">
      <button onclick="location.href= '/logout'"  class="btn join-btn">Log Out</button>
  </div>
    </ul>
  </nav>
</header>
<nav class="mobile-nav">
  <ul class="mobile-nav__item-list">
    <li class="mobile-nav__item">
      <a class="<%= path === '/' ? 'active' : '' %>" href="/">Shop</a>
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/products' ? 'active' : '' %>" href="/products">Products</a>
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">Orders</a>
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Product
      </a>
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Products
      </a>
    </li>
  </ul>
</nav>